body {
      font-family: Arial, sans-serif;
      padding: 20px;
      max-width: 800px;
      margin: auto;
}
hi, h2 {
    color: #222;
}
a {
  color: #0077cc;
}
footer {
  margin-top: 40px;
  font-size: 0.0cm;
  color: #777;
}
